.app-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top : 15%;
    maxWidth: 345 px;
}
.dispNone {
    display: none;
}
.dispBlock {
    display: block;
}
.red {
    color: red;
}